video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#main::-webkit-scrollbar {
    display: none;
}

/* select dropdwon default border color */
.ant-select-selector {
    border: none !important;
}

/* select dropdwon default color change*/
.ant-select-selection-item {
    color: #555555 !important;
}

/* academy search input change default placeholder color */
.customPlaceholder .ant-input::placeholder {
    color: #905A00 !important;
    /* Change this to your desired color */
}

/* ant design calender active date default date background color change */
.ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
    background: #905A00 !important;
}

/* ant design calender today date default date border color change */
.ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border: 1px solid #905A00 !important;
}

/* ant design calender month  default  color change */
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: #905A00 !important;
}

/* ant design calender month container border  default  color change */
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    border-color: #905A00 !important;
}

/* ant design calender month container border  default  color change */
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    border-color: #905A00 !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: #905A00 !important;
}

/* academic class video css */
.video_player {
    position: relative;
    overflow: hidden;
    height: 541px;
    width: 100%;
}

.video_player .react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.play-pause-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* rechart default size color change css */
.recharts-responsive-container {
    width: 180px !important;
    height: 180px !important;
    border-radius: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: 20px auto;
}

/* video thumbnail list scroll bar change */
.video-collection::-webkit-scrollbar {
    width: 8px;
}

.video-collection::-webkit-scrollbar-track {
    background: #D9D9D9;
    padding: 0 10px;
    border-radius: 20px;
}

.video-collection::-webkit-scrollbar-thumb {
    background: #905A00;
    border-radius: 20px;
}


.payment .ant-input-outlined {
    border-width: 0px;
    outline: none;
}

.payment .ant-input {
    border-radius: 0px;
    outline: none;
}

.payment .ant-otp .ant-otp-input {
    border-radius: 0px;
    outline: none;
    border: 'none';
}

.showMenu {
    animation: showMenu .5s;
}

/* common.css */
.result {
    margin-top: 20px;
    color: green;
}

.error-result {
    margin-top: 20px;
    color: red;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}



@keyframes showMenu {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}

.showClose {
    animation: showClose 1s;
}

@keyframes showClose {
    from {
        right: 0;
        display: flex;
    }

    to {
        right: -100%;
        display: none;
    }
}